@font-face {
  font-family: lato;
  src: local("lato"), local("lato-regular"),
      url("../fonts/lato-regular.woff2") format("woff2"),
      url("../fonts/lato-regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: lato;
  src: local("lato bold"), local("lato-bold"),
      url("../fonts/lato-bold.woff2") format("woff2"),
      url("../fonts/lato-bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: lato, sans-serif;
  color: #2d2d2d;
  margin: 0;
}

.container {
  max-width: 1830px;
  padding: 0 30px;
  margin: 0 auto;
}